@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  background-color: '#edfaf3'; /* Replace with your desired background color */
  margin: 0; /* Ensure no default margin */
  padding: 0; /* Ensure no default padding */
  font-family: 'Roboto', sans-serif; /* Optionally set a default font */
};